@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus-visible {
    @apply outline-2 outline-light outline-dashed outline-offset-4;
  }
  :root {
    --gap: 2rem;
    --max-column-count: 4;
    --grid-item--min-width--sm: 4rem;
    --grid-item--min-width--md: 8rem;
    --grid-item--min-width--xl: 12rem;
    --grid-item--min-width: 16rem;
    --main-padding: max(5vw, 2rem);

    --max-number-of-gaps-in-row: calc(var(--max-column-count) - 1);
    --total-gap-width: calc(var(--max-number-of-gaps-in-row) * var(--gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--max-column-count));

    --transparent: rgba(255,255,255,0);
  }

  body {
    @apply text-light;
  }

  * {
    box-sizing: border-box;
  }
  [data-theme="default"] {
    --color-primary-transparent: theme("colors.teal.600/75%");
    --color-primary: theme("colors.teal.500");
    --color-secondary: #b2dedb;
    --color-secondary-lighter: theme("colors.gray.200");
    --color-secondary-darker: theme("colors.gray.200");
    --color-primary-darker: theme("colors.emerald.700");
    --color-background-main: theme("colors.black");
    --bg-accueil-button: url("/assets/logo/logo-kauri-light.png");
  }
  [data-theme="focus"] {
    --color-primary-transparent: theme("colors.gray.200/25");
    --color-primary: theme("colors.gray.200");
    --color-secondary: #b2dedb;
    --color-secondary-lighter: theme("colors.white");
    --color-secondary-darker: theme("colors.teal.600");
    --color-primary-darker: theme("colors.gray.200");
    --color-background-main: theme("colors.teal.600");
    --bg-accueil-button: url("/assets/logo/logo-kauri-light.png");
  }
}
