{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node"
  ],
  "overrides": [{
    "files": ["src/**/*.ts"],
    "rules": {
      "@typescript-eslint/consistent-type-imports": "off"
    }
  }]
}