@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *:focus-visible {
        @apply outline-2 outline-light outline-dashed outline-offset-4;
    }
    :root {
        --gap: 4rem;
        --max-column-count: 4;
        --grid-item--min-width: 200px;
        --main-padding: max(5vw, 2rem);

        --max-number-of-gaps-in-row: calc(var(--max-column-count) - 1);
        --total-gap-width: calc(var(--max-number-of-gaps-in-row) * var(--gap));
        --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--max-column-count));
    }

    body {
        @apply text-light;
        @apply font-metropolis;
    }

    * {
        box-sizing: border-box;
    }
}